@import "@vars/pads";
@import "@vars/colors";
@import "@vars/screens";

.burgerContainer {
    display: none;

    border: none;
    background: transparent;

    cursor: pointer;

    .burger {
        width: 30px;
        padding-bottom: 100%;

        background:
            repeating-linear-gradient(
                $dark-gray 0,
                $dark-gray 20%,
                transparent 0,
                transparent 40%,
            );
    }
}

@media all and (max-width: $screen_sm) {
    .burgerContainer {
        display: block;
    }
}
