* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

button {
    border: none;
    background: transparent;
}
